// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #414042;
$grayDark:              #808285;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #07ABDD;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #DD1F26;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;      
$textColor: #4F4F4F;
$red: #DD1F26;//red
$linkColor: #585858;
$linkColorActive: $red;
$linkColorHover: $red;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;


// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $white;
$navbarBackgroundHighlight:       $white;

$navbarText:                      $grayDark;
$navbarLinkColor:                 $grayDark;
$navbarLinkColorHover:            $red;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;

$borderColor: #fafafa;
$borderSize: 6px;

//@import "gko_public_all";
//@import "gko/store"; 
//@import "gko/elastislide";
@import "twitter/bootstrap";
@import "gko/mixin.1.0.0";
@import "gko/default";
@import "gko/store";
/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
} 
.panel {
	padding: 20px 20px 2px 20px;
	background: #efefef;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3 {
   font-weight: normal;
}

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	font-weight: 300;
	background: #fefefe;
	border-top: 4px solid $red; 
}
.navbar,
.container-fluid {
	max-width: 1020px;
	@include box-sizing(border-box);
	@include center-block();
} 
label { 
	font-size: 13px; 
}
.parent-categories {
	margin: 0 0 $baseLineHeight 0;
	ul.nav {
		@include center-nav();
	}
	ul.nav > li > a {
		text-transform: uppercase;
		color: $navbarLinkColor;
		text-transform: capitalize;
		font-weight: 500;
		text-shadow: 0px 1px 0 white;
		&:hover {
			color: $navbarLinkColorHover;
		};
	}
	ul.nav > li.active > a {
		color: $navbarLinkColorHover;
		&:hover {
			color: $navbarLinkColorActive;
		};
	}
}
.grid > li {
	.thumbnail {
		border: none;
		@include border-radius(0);
		@include box-shadow(none);
		.thumbnail-image {
			padding: $borderSize;
			border: $borderSize solid $borderColor;
			background: #FFFFFF; 
		    @include transition(all 0.3s ease-out);
		}
		h2.thumbnail-title,
		h2.thumbnail-title a {
			font-size: $baseFontSize;
			font-weight: 700; 
		}
		&:hover,  
		&:focus { 
			.thumbnail-image {
				@include box-shadow(0 0 25px $grayLight);
			}
			h2.thumbnail-title,
			h2.thumbnail-title a {
				color: $red;
			} 
		}
	}
}


/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
   @include transition('color .5s linear, background-color .5s linear')
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar { 
	.row-fluid {
		border-bottom: $borderSize solid $borderColor;
	}
	font-size: 13px;
	
}
.nav-collapse .nav {
	@include clearfix;
}
.nav-collapse .nav > li {
	margin-left: 24px;
	border-bottom: 1px solid $borderColor;
}
.navbar .nav > li > a {
	text-shadow: none;
	@extend .uppercase_font_style;
	.text {
		display:inline-block;
	    @include ie7-inline-block();
	}
}

.navbar .brand {
	float: none;
	text-align: center;
	a {
		padding: 0;
		margin: 0 auto;
		background: transparent image-url("logo.png") center center no-repeat;
		background-size: contain;
		cursor: pointer;
		text-decoration: none;
		display: block;
		width: 130px;
		height: 130px;
		@include hide-text;
	}
}

/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer {
	text-align: center;
	font-size: 12px; 
	border-top: $borderSize solid $borderColor;
	margin-top: $baseLineHeight;
	h3 {
		@extend .uppercase_font_style;
	}
}
a#indicators {
	display: block;
	background: transparent asset-url("indicators.gif",image) no-repeat scroll 0 1px;
	background-position: 0 0;
	width: 208px;
	height: 49px;
	
}
a#indicators:hover {
	background-position: 0 -49px;
};
/*-----------------------------------------
 STORE
----------------------------------------- */
.product-info {
	h1.page-title {
		border-bottom: $borderSize solid $borderColor;
	}
	h4 {
		@extend .uppercase_font_style; 
		border-bottom: 1px solid $borderColor; 
		padding-top: $baseLineHeight; 
	}
}
#product-variants {
	label {
		display: inline-block;
	} 
} 
table#product-properties {
	width: 100%;
	margin-bottom: $baseLineHeight;
	td {
		padding: 8px 0;
	}
}
h2#product-variants-title {
	border-bottom: $borderSize solid $borderColor;
}
.product-images-large {
 	border: $borderSize solid $borderColor;
	background: white; 
}
.products-thumbnails ul li a img {
 	border: $borderSize solid $borderColor;
	background: white;
}
/*-----------------------------------------
 HOME
----------------------------------------- */
body#home {
	h3 { color:$red;}
}
#home-orbit {
	height: 400px;
	padding-bottom: $baseLineHeight;
	
	.infos {
		position:absolute;
		bottom: 0;
		left:0;
		right:0;
		padding: 12px;
		background: rgba(255,255,255,.7);
	}
	
	.content {
		border: $borderSize solid $borderColor; 
	}
}

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";

@media (max-width: 979px) {
	// Nav and dropdown links in navbar
	.nav-collapse nav,
	.nav-collapse .nav {
		@include clearfix();
	}
	
	.nav-collapse .nav > li,
	.nav-collapse .dropdown-menu li {
	  	margin-left: 24px;
		border-bottom: 1px solid $navbarLinkColor;
	}
	.nav-collapse .dropdown-menu li:last-child {
		border-bottom: none;
	}
	
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
	  font-weight: normal;
	  @include border-radius(0);
	}
	.nav-collapse .dropdown-menu a:hover {
	  	background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
		color: $navbarLinkColorHover;
	}
}
@media (min-width: 980px) {
	.nav-collapse {
		float: left;
		margin-top: 38px;
	}
	/* Main menu settings */
	nav#primary-menu {
		float: left;
		ul.nav {
			> li {
				border-bottom: none;
			}
			> li > a {
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	#store-menu-container,
	#store-menu {
		float: right;
	}
	.navbar .brand {
	  margin: 12px 0 0 0;
	  padding: 0;
	}
}
