@import "gko/variables";

$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;      
$textColor: #4F4F4F;
$altColor: #DD1F26;//red
$linkColor: #585858;
$linkColorActive: $altColor;
$linkColorHover: $altColor;

$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;

$borderColor: #fafafa;
$borderSize: 6px;

@import "gko_public_all";
@import "gko/store"; 
@import "gko/elastislide";

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
} 
.panel {
	padding: 20px 20px 2px 20px;
	background: #efefef;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;

}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3 {
font-weight: normal;
}
h1 {
  font-size: 26px;
  line-height: $baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
h2 {
  line-height: $baseLineHeight * 1.5;
  font-size: 22px;
  small {
    font-size: 14px;
  }
}
h3 {
  line-height: $baseLineHeight * 1.5;
  font-size: 18px;
  small {
    font-size: 14px;
  }
}
/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	font-weight: 300;
	background: #fefefe;
}
.block-grid {
	.entry-thumb {
	  border: $borderSize solid $borderColor;
		background: #FFFFFF;
	}
	h2.entry-title {
		font-size: $baseFontSize;
		a {
			font-weight: 700; 
			span.product-title { font-size: .8em; font-weight: 400;}
			span.product-price { float:right; font-weight: 400;}
		}
	}
} 


/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar {
	border-top: 4px solid $altColor;
	 
	.main-row {
		position:relative;
	  border-bottom: $borderSize solid $borderColor;
		.nav > li > a {
			@extend .uppercase_font_style;   
		}
	}
	.nav-collapse {
		margin-top:60px;
	}
}
#store-menu {
	float:right;
	margin: 0;
}

h2#site-title {
	@include logo(165px, 59px);
	position:absolute;
	left: 0;
	top: -30px;
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer { 
	margin-top: 60px;
	border-top: $borderSize solid $borderColor;
	h3 {
		@extend .uppercase_font_style;
	}
}
#wrapper-wide-footer {
	text-align: center;
	font-size: 12px;
}
/*-----------------------------------------
 STORE
----------------------------------------- */
.product-info {
	h1.page-title {
		border-bottom: $borderSize solid $borderColor;
	}
}
#product-variants {
	label {
		display: inline-block;
	} 
} 
h2#product-variants-title {
	border-bottom: $borderSize solid $borderColor;
}
.product-images-large {
 	border: $borderSize solid $borderColor;
	background: white; 
}
h5.product-section-title {
	border-bottom: 1px solid $borderColor;;
}
#cart-subtotal {
	h3 { float:right;}
	div { float:right;}
}
/*-----------------------------------------
 TABLETS AND BELOW 
----------------------------------------- */
@media(max-width: 980px) {
	#store-menu {
		float:none;
	}
	.nav-collapse {
		margin-top:0px;
	}
	h2#site-title {
		float: none !important;
		position:relative;
		margin: 0 auto; 
	}
}
