$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;      
$textColor: #4F4F4F;
$altColor: #DD1F26;//red
$linkColor: #585858;
$linkColorActive: $altColor;
$linkColorHover: $altColor;

$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;

$borderColor: #fafafa;
$borderSize: 6px;

@import "gko_public_all";
@import "gko/store"; 
@import "gko/elastislide";

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
} 
.panel {
	padding: 20px 20px 2px 20px;
	background: #efefef;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3 {
   font-weight: normal;
}

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	font-weight: 300;
	background: #fefefe;
} 
label { 
	font-size: 13px; 
}
.grid > li {
	.thumbnail {
		border: none;
		@include border-radius(0);
		@include box-shadow(none);
		.thumbnail-image {
		  border: $borderSize solid $borderColor;
			background: #FFFFFF;

			/*display: inline-block;  
		    text-align: center;  
		    background: white;  
		    padding: 5px 10px;  
		    margin: 0 20px;  
		    color: #615334;  
		    text-decoration: none;  
		    line-height: 5.6em;  */
		    background: -moz-linear-gradient(center bottom , #DACDB1 11%, #F0E8D8 56%) repeat scroll 0 0 #F0E8D8;  
		    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #DACDB1),color-stop(0.65, #F0E8D8));  
		    -moz-box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 1px #816F47;  
		    -webkit-box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 1px #816F47;  
		    box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 1px #816F47;  
		    -moz-transition: all 0.3s ease-out;  
		    -webkit-transition: all 0.3s ease-out;  
		    transition: all 0.3s ease-out;

			&:hover,  
			&:focus {  
			    transform: scale(1.2);  
			    box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;  
			}
		}
		.caption {
			h2.thumbnail-title {
				font-size: $baseFontSize;
				a {
					font-weight: 700; 
					span.product-title { font-size: .8em; font-weight: 400;}
					span.product-price { float:right; font-weight: 400;}
				}
			}
		}

	}

} 
/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
   @include transition(color .5s linear, background-color .5s linear)
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar { 
	.row-fluid {
		border-bottom: $borderSize solid $borderColor;
	}
	font-size: 13px;
	border-top: 4px solid $altColor; 
	.header-nav { 
		
		.nav > li > a {
			@extend .uppercase_font_style;   
		}
	}
	.nav-collapse {
		padding-top: 40px;
		clear: both;
	}
}
.navbar-inner {
 
  
}
#store-menu {
	float:right;
	margin: 0;
}

.navbar .brand {
	@include logo(165px, 113px);
  float: left;
  margin: 12px 0 0 0;
  padding: 0;
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer {
	text-align: center;
	font-size: 12px; 
	border-top: $borderSize solid $borderColor;
	margin-top: $baseLineHeight;
	h3 {
		@extend .uppercase_font_style;
	}
	.nav {
		@include vertical-nav;
	}
}
a#indicators {
	display: block;
	background: transparent asset-url("indicators.gif",image) no-repeat scroll 0 1px;
	background-position: 0 0;
	width: 213px;
	height: 114px;
	
}
a#indicators:hover {
	background-position: 0 -116px;
};
/*-----------------------------------------
 STORE
----------------------------------------- */
.product-info {
	h1.page-title {
		border-bottom: $borderSize solid $borderColor;
	}
	h4 {
		@extend .uppercase_font_style; 
		border-bottom: 1px solid $borderColor; 
		padding-top: $baseLineHeight; 
	}
}
#product-variants {
	label {
		display: inline-block;
	} 
} 
h2#product-variants-title {
	border-bottom: $borderSize solid $borderColor;
}
.product-images-large {
 	border: $borderSize solid $borderColor;
	background: white; 
}
/*-----------------------------------------
 HOME
----------------------------------------- */
body#home {
	h3 { color:$altColor;}
}
#home-orbit {
	height: 400px;
	padding-bottom: $baseLineHeight;
	
	.infos {
		position:absolute;
		bottom: 0;
		left:0;
		right:0;
		padding: 12px;
		background: rgba(255,255,255,.7);
	}
	
	.content {
		border: $borderSize solid $borderColor; 
	}
}

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive"; 
@media(max-width: 980px) {
	#store-menu {
		float:none;
	}

}
